@font-face {
  font-family: 'MyAkkurattLL-Light';
  src: url('/fonts/AkkuratLL-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyAkkurattLL-Regular';
  src: url('/fonts/AkkuratLL-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}